.justify-center {
    justify-content: center;
}

.margin-5px {
    margin: 5px !important;
}

.padding-10px {
    padding: 10px !important;
}

.text-primary {
    color: #007bff!important;
}

.text-success {
    color: #28a745!important;
}

.text-danger {
    color: #dc3545!important;
}

.text-warning {
    color: #ffc107!important;
}

.text-info {
    color: #17a2b8!important;
}

.text-morado {
    color: rgb(58, 41, 116)!important;
    font-size: 1.5rem;
    font-weight: bold;
}


.pointer-events {
    pointer-events: none;
}

.vcenter {
    display: flex !important;
    height: 100%;
    align-items: center !important;
    justify-content: center !important;
}